---
- name: Deploy VMs on Proxmox
  community.general.proxmox_kvm:
    api_user: "{{ proxmox_api_token_id.split('!')[0] }}"
    api_token_id: "{{ proxmox_api_token_id.split('!')[1] }}"
    api_token_secret: "{{ proxmox_api_token_secret }}"
    api_host: "{{ proxmox_api_host }}"
    node: "{{ item.node }}"
    vmid: "{{ item.vmid }}"
    name: "{{ item.name }}.{{ default_domain_name }}"
    memory: "{{ item.memory | default(default_memory_size) }}"
    cores: "{{ item.cores | default(default_cpu_cores) }}"
    sockets: "{{ item.sockets | default(default_cpu_sockets) }}"
    onboot: "{{ item.boot_on_start | default(default_boot_on_start) }}"
    net: >-
      net0=model=virtio,bridge={{ item.bridge | default(default_bridge) }}
      {{ ',tag=' + item.vm_network_vlan | default(vm_network_vlan) if item.vm_network_vlan | default(vm_network_vlan) != 'none' else '' }},
      firewall=1
      {{ ',ip=' + item.ipv4 | default(default_ipv4) if item.ipv4 | default(default_ipv4) != 'none' else '' }}
      {{ ',ip6=' + item.ipv6 | default(default_ipv6) if item.ipv6 | default(default_ipv6) != 'none' else '' }}
    clone: "{{ item.template_vmid }}"  # Assumes template VMID is determined beforehand
    full_clone: true  # Set to true if you want a full clone, false for linked clone
  loop: "{{ vms }}"
  loop_control:
    loop_var: item
  when: item.state | default('present') == 'present'  # Only deploy if the desired state is 'present'
