
- name: Gather facts
  ansible.builtin.setup:  # This is the Ansible module used to gather facts
- name: Install required Python packages on Debian/Ubuntu
  ansible.builtin.apt:
    name:
      - python3-proxmoxer
      - python3-requests
      - python3-paramiko
    state: present
    update_cache: yes
  become: true
  when: ansible_facts['os_family'] == "Debian"
  delegate_to: localhost

#- name: Install required Python packages on Redhat Systems
#  ansible.builtin.apt:
#    name:
#      - python3-proxmoxer
#      - python3-requests
#    state: present
#  when: ansible_facts['os_family'] == "RHEL"
