---
# tasks/main.yml

# Install required local packages
- name: Install local packages needed for this role
  import_tasks: install_required_local_packages.yml
  when: not ( skip_package_check )

# Verifying and selecting the desired template based on a tag or criterion
- name: Verify and select the desired template exists
  import_tasks: verify_template_exists.yml
  vars:
    template_tag: "{{ default_template_tag }}"

# Pick the correct template for cloning
- name: Select the template
  include_tasks: select_template.yml
  vars:
    vm_to_clone: "{{ vm_data_to_clone }}"

# Verifying and selecting the desired template based on a tag or criterion
- name: Verify and select the desired template exists
  import_tasks: verify_template_exists.yml
  vars:
    template_tag: "{{ default_template_tag }}"

# Verify when we are passed a VMID that it does not already exist
- name: Check for Duplicate VMID when provided from playbook
  include_tasks: check_for_duplicate_vmid_vmname.yml
#  vars:
#    vm_data_to_clone: vm_data_to_clone
#  loop: "{{ vms }}"
#  loop_control:
#     loop_var: vm_data_to_clone

# Need to change variable when including an include, prevent scope issues
- name: Clone and configure VMs sequentially
  include_tasks: clone_and_configure_each_vm.yml 
  loop: "{{ vms }}"
  loop_control:
    loop_var: vm_data_to_clone
  